$primary-color: #453232;
$black-color: #000;
$white-color: #fff;
$yellow-color: #FFFF00;
$ping-color: #FFB4A2;
$gray-color: #797979;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);
$main-font: "Gilroy", "sans-serif";
